<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>BrainFlix</title>
  </head>
  <body class="body">
    <header class="header">
      <img class="header__logo" src="" alt="" />
      <input type="text" placeholder="Search" name="" id="" />
      <nav class="header__nav">
        <button class="header__btn">+ UPLOAD</button>
        <img class="header__user-icon" src="" alt="" />
      </nav>
    </header>
    <main class="main">
      <div class="video__wrapper">
        <video class="video__playing" src=""></video>
      </div>
      <div class="description">
        <h1 class="description__title">BMX Rampage: 2018 Highlights</h1>
        <p class="description__author">By Red Cow</p>
        <p class="description__date">12/18/2018</p>
        <img class="description__views-icon" src="" alt="" />
        <span class="description__views-num">1,001,023</span>
        <img class="description__likes-icon" src="" alt="" />
        <span class="description__likes-num">110,985</span>
      </div>
      <div class="description__text-wrapper">
        <p class="description__text-content">
          On a gusty day in Southern Utah, a group of 25 daring mountain bikers
          blew the doors off what is possible on two wheels, unleashing some of
          the biggest moments the sport has ever seen. While mother nature only
          allowed for one full run before the conditions made it impossible to
          ride, that was all that was needed for event veteran Kyle Strait, who
          won the event for the second time -- eight years after his first Red
          Cow Rampage title
        </p>
      </div>
      <div class="form">
        <span class="form__comments-num">3 Comments</span>
        <img class="form__user-icon" src="" alt="" />
        <p class="form__title">JOIN THE CONVERSATION</p>
        <input
          class="form__input"
          type="text"
          placeholder="Write a comment here"
          name=""
          id=""
        />
        <button class="form__btn">COMMENT</button>
      </div>
      <div class="comments">
        <ul class="comments__wrapper">
          <li class="comments__container">
            <img class="comments__user-icon" src="" alt="" />
            <p class="comments__username"></p>
            <p class="comments__date"></p>
            <p class="comments__content"></p>
          </li>
        </ul>
      </div>
      <aside class="video-list">
        <div class="video-list__item">
          <img class="video-list__thumb" src="" alt="" />
          <h2 class="video-list__title"></h2>
          <span class="video-list__author"></span>
        </div>
      </aside>
    </main>
  </body>
</html>
