// Header & Nav

.header {
  @extend .flex-center;
  flex-wrap: wrap;
  padding: 0.5rem 1rem 1rem 1rem;

  @include tablet {
    flex-wrap: nowrap;
    padding: 1rem 1.5rem;
    height: 5rem;
  }
  @include desktop {
    padding: 1rem 11.25rem;
  }

  &__logo {
    width: 50%;
    height: 2rem;
    margin: 0 0 0.5rem 0;

    @include tablet {
      margin: 0 10.5rem 0 0;
      width: 66%;
    }

    @include desktop {
      margin: 0 31.8rem 0 0;
    }
  }

  &__input {
    background-image: url("../../assets/icons/icon-search.svg");
    background-repeat: no-repeat;
    background-position: 1rem;
    height: 3rem;
    width: 100%;
    border-radius: 4px;
    border-style: none;
    border: 1px solid $bg-primary-color;
    padding: 0 2.5rem;
    outline: none;

    &:focus {
      border: 1px solid $primary-btn;
    }

    @include tablet {
      margin: 0 1.5rem 0 0;
    }

    @include desktop {
      width: 120%;
    }
  }

  &__nav {
    @extend .flex-center;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    margin: 0.5rem 0 0 0;

    @include tablet {
      margin: 0;
    }
  }

  &__btn {
    color: $secondary-color;
    background-color: $primary-btn;
    font-family: $primary-font-demi;
    padding: 0.5rem 0;
    cursor: pointer;
    font-size: 1rem;
    border-radius: 4px;
    border: 1px solid $secondary-color;
    max-width: 14.25rem;
    width: 80%;
    outline: none;
    height: 3rem;

    &:hover {
      background-color: $primary-btn-hover;
    }

    &:active {
      background-color: $primary-btn-hover;
    }

    @include tablet {
      width: unset;
      padding: 0.5rem 1rem;
    }
  }

  &__user-icon {
    height: 3rem;
    width: 3rem;
  }
}
