$primary-color: #323232;
$secondary-color: #fafafa;
$bg-primary-color: #e1e1e1;
$divider-color: #afafaf;
$hero-gradient: rgba(32, 32, 32, 0.5);
$btn-hover: #000000;
$primary-btn: #0095ff;
$primary-btn-hover: #0065ad;
$desktop-width: 1440px;
$tablet-width: 768px;
$list-reset: none;
